section.home-2-content(class="xl:rem:w-[1008px] lg:rem:w-[900px] lg:rem:pt-[130px] pt-10 w-full mx-auto text-center relative z-50 px-4 lg:px-0") 
	h2(class="title-48 mb-base") BINISUN COFFEE & TEA là thương hiệu cà phê cao cấp đến từ Buôn Mê Thuột
	.home-2-desc(class="flex flex-col gap-5")
		.desc(class="text-lg font-normal text-Neutral-800") 
			p BINISUN khởi nguồn từ vùng đất Tây Nguyên, nơi văn hóa bản địa hòa quyện cùng những đồi cà phê bạt ngàn. Hình ảnh cô gái Ê Đê và những chú voi là biểu tượng cho sự trù phú và gắn kết với thiên nhiên.
		.desc(class="text-lg font-normal text-Neutral-800")  
			p BINISUN Coffee ra đời với khát khao mang đến những sản phẩm cà phê chất lượng cao, kết tinh từ những hạt cà phê được tuyển chọn kỹ lưỡng và chế biến bằng phương pháp Natural và Honey (mật ong). Chúng tôi tin rằng mỗi hạt cà phê không chỉ là một thức uống mà còn là một hành trình đầy tâm huyết, từ người nông dân đến tay người tiêu dùng.
	.home-2-btn(class="mt-base") 
		+ButtonPrimary()
section.home-2(class="relative z-10 lg:rem:mt-[-240px] mt-10")

	.home-2-bg(class="img-ratio ratio:pt-[491_1920]")
		img(src="./img/bg.png", alt="")
	.home-2-people(class="absolute xl:right-23 xl:bottom-[3rem] xl:rem:w-[300px] xl:rem:h-[800px] w-[6.5rem] h-[15.5rem] bottom-[16.5rem] right-[0.8rem] lg:w-[10.5rem] lg:h-[31.6rem] lg:right-[0.8rem] lg:bottom-[1.5rem] md:w-[10.5rem] md:h-[20.5rem] md:bottom-[12.5rem]") 
		img(src="./img/people.png", alt="" class="w-full h-full")
	.home-2-list
		.home-2-item 
			.number.countup(data-number="100%") 100
			h3 Hạt cà phê - Chín đỏ, thu hoạch tại Buôn Mê Thuột.
		.home-2-item 
			.number.countup(data-number="10+") 100
			h3 Hạt cà phê - Chín đỏ, thu hoạch tại Buôn Mê Thuột.
		.home-2-item 
			.number.countup(data-number="100+") 100
			h3 Hạt cà phê - Chín đỏ, thu hoạch tại Buôn Mê Thuột.
		.home-2-item 
			.number.countup(data-number="20+") 100
			h3 Hạt cà phê - Chín đỏ, thu hoạch tại Buôn Mê Thuột.

