.home-3
	@apply relative
	.home-3-text 
		@apply overflow-hidden relative rem:bottom-[-19px]
		h1
			letter-spacing: 4rem
			line-height: 1
			-webkit-text-stroke-width: 2px
			-webkit-text-stroke-color: rgba(0, 122, 94, 0.50)
			@apply text-[7.05rem] font-black uppercase text-center text-transparent w-full ml-auto p-0 font-secondary whitespace-nowrap
	.home-3-slide
		.swiper-slide
			.image
				img
					@apply object-contain

			
@media (max-width: 1279.98px)
	.home-3
		.home-3-text
			@apply rem:bottom-[10px] mt-5
			h1
				letter-spacing: 30px

				@apply text-[6.05rem]			
@media (max-width: 767.98px)
	.home-3
		.home-3-text
			@apply rem:bottom-[10px] mt-5
			h1
				letter-spacing: 4px

				@apply text-[3rem]
			.title-bg
				font-size: 7vw !important
				letter-spacing: 4vw !important