section.about-2(class="section-py")
	.container 
		.about-2-main(class="flex flex-col lg:even:flex-row-reverse lg:gap-25 gap-5")
			.col-left(class="xl:rem:w-[700px] lg:w-[32.1rem] w-full")
				.image 
					a(href="#" class="img-ratio ratio:pt-[480_700] zoom-img")
						img(src="./img/1.jpg", alt="") 
			.col-right(class="xl:w-[calc(100%-36.458333333333336rem-5.20833rem)] relative flex flex-col justify-center w-full")
				.vector(class="absolute top-0 right-0 rem:w-[200px] rem:h-[200px]")
					img(src="./img/vector-right.png", alt="" class="w-full h-full")
				.content(class="xl:rem:w-[500px] lg:w-[20rem] xl:pl-25 lg:pr-10 px-10 py-10")
					h2(class="title-48 font-bold text-Primary-Primary_02 !text-left mb-base") tầm nhìn
					.desc(class="text-lg text-Neutral-950 font-normal text-justify") 
						p BINISUN không chỉ là một thương hiệu cà phê Việt, mà còn là biểu tượng của chất lượng, sự tinh tế và giá trị bền vững vươn tầm quốc tế. Chúng tôi mang trong mình tinh thần của Tây Nguyên – nơi văn hóa cà phê được hun đúc qua bao thế hệ. Hình ảnh cô gái Ê Đê trở thành dấu ấn nhận diện, tôn vinh những người làm cà phê với tất cả đam mê và tâm huyết, đồng thời lan tỏa bản sắc văn hóa độc đáo, khẳng định vị thế cà phê Việt trên bản đồ thế giới.
		.about-2-main(class="flex flex-col lg:even:flex-row-reverse lg:gap-25 gap-5")
			.col-left(class="xl:rem:w-[700px] lg:w-[32.1rem] w-full")
				.image 
					a(href="#" class="img-ratio ratio:pt-[480_700] zoom-img")
						img(src="./img/1.jpg", alt="") 
			.col-right(class="xl:w-[calc(100%-36.458333333333336rem-5.20833rem)] relative flex flex-col justify-center w-full")
				.vector(class="absolute bottom-0 left-0 rem:w-[200px] rem:h-[200px]")
					img(src="./img/vector-left.png", alt="" class="w-full h-full")
				.content(class="xl:rem:w-[500px] lg:w-[20rem] xl:pl-25 lg:pr-10 px-10 py-10")
					h2(class="title-48 font-bold text-Primary-Primary_02 !text-left mb-base") tầm nhìn
					ul.about-2-list 
						li Mang đến những sản phẩm cà phê nguyên bản, chất lượng cao và tốt cho sức khỏe.
						li Mang đến những sản phẩm cà phê nguyên bản, chất lượng cao và tốt cho sức khỏe.
						li Mang đến những sản phẩm cà phê nguyên bản, chất lượng cao và tốt cho sức khỏe.
		