section.about-1-content(class="lg:rem:w-[1050px] rem:pt-[56px] w-full rem:pl-[260px]  relative z-50") 
	h2(class="title-48 mb-base !text-left !text-Primary-Primary_01") Về chúng tôi - 
		br
		| câu chuyện thương hiệu
	.about-1-desc(class="flex flex-col gap-5 text-justify")
		.desc(class="text-lg font-normal text-Neutral-800") 
			p BINISUN khởi nguồn từ vùng đất Tây Nguyên, nơi văn hóa bản địa hòa quyện cùng những đồi cà phê bạt ngàn. Hình ảnh cô gái Ê Đê và những chú voi là biểu tượng cho sự trù phú và gắn kết với thiên nhiên.
		.desc(class="text-lg font-normal text-Neutral-800")  
			p BINISUN Coffee ra đời với khát khao mang đến những sản phẩm cà phê chất lượng cao, kết tinh từ những hạt cà phê được tuyển chọn kỹ lưỡng và chế biến bằng phương pháp Natural và Honey (mật ong). Chúng tôi tin rằng mỗi hạt cà phê không chỉ là một thức uống mà còn là một hành trình đầy tâm huyết, từ người nông dân đến tay người tiêu dùng
		.desc(class="text-lg font-normal text-Neutral-800")  
			p BINISUN cam kết sử dụng những hạt cà phê đạt độ chín trên 90% – 100%, giúp giữ trọn vẹn hương vị tinh tế, hậu vị ngọt dịu và hương thơm đặc trưng. Với phương châm "Khơi nguồn đến thành công", chúng tôi mong muốn không chỉ mang đến ly cà phê ngon mà còn khơi dậy nguồn cảm hứng, năng lượng tích cực cho những hành trình đầy thử thách - Đậm chất Tây Nguyên.
section.about-1(class="relative z-10 rem:mt-[-240px] ")
	.about-1-bg(class="img-ratio ratio:pt-[491_1920]")
		img(src="./img/bg.png", alt="")
	.about-1-people(class="absolute right-[3.1rem] bottom-0 w-[24rem] h-[35rem]") 
		img(src="./img/cogai-1.png", alt="" class="w-full h-full")
