section.home-8(setBackground="./img/bg-home-8.png" class="relative rem:h-[643px]")
	.container 
		.home-8-content
			h3(class="text-5xl font-bold text-Neutral-White mb-3 uppercase") Cùng lan tỏa tinh hoa Tây Nguyên!
			.desc(class="font-secondary text-lg font-normal text-Neutral-White") 
				p sáng tạo và đam mê để cùng nhau xây dựng thương hiệu cà phê cao cấp BINISUN COFFEE & TEA, mang tinh hoa Tây Nguyên đến gần hơn với thế giới.
			.home-1-btn(class="mt-10")
				a(href="#" class="button-primary red")
					span TÌM HIỂU THÊM