section.global-breadcrumb
	.container
		nav(aria-label="breadcrumbs", class="rank-math-breadcrumb")
			p
				a(href="https://oracle.webcanhcam.vn") Trang chủ
				span(class="separator")  | 
				span(class="last") Về chúng tôi
section.new-detail(class="section-py font-secondary")
	.container 
		.new-detail-main(class="grid grid-cols-12 gap-10 max-lg:grid-cols-1 relative") 
			.col-left(class="col-span-8 max-lg:col-span-full")
				.format-content
					.title-40(class="text-Neutral/Black mb-5") Nhựa Duy Tân ký kết hợp tác triển khai dự án năng lượng tái tạo tại Bình Dương
					.new-detail-heading(class="flex flex-col mb-5") 
						.left(class="flex items-center gap-5 text-sm max-xl:gap-5 max-md:gap-3 pb-3 border-b border-b-Neutral-200")
							span.tag Tin công ty
							span.date 02-03-2023
					
						.sticky-share-post(class="absolute right-full top-0 mr-15 bottom-0")
							ul.logo-share-post(class="flex lg:flex-col gap-5 ")
								li 
									a(href="#") 
										i.fa-brands.fa-facebook-f
								li 
									a(href="#") 
										i.fa-brands.fa-linkedin-in
					p Ngày 16-12 vừa qua, Công ty TNHH Nhựa Duy Tân Bình Dương thuộc tổng công ty Nhựa Duy Tân đã thực hiện buổi ký kết hợp tác triển khai dự án Solar - dự án năng lượng mặt trời cho nhà máy tại Bình Dương.
					.new-detail-image(class="my-5")
						a(href="#" class="img-ratio ratio:pt-[496_920]")  
							img(src="./img/1.jpg", alt="")
					p Dự án do BayWa r.e. Việt Nam làm chủ đầu tư, Vũ Phong Energy Group là đơn vị phát triển dự án và cung cấp dịch vụ tổng thầu.
					p Dự án do BayWa r.e. Việt Nam làm chủ đầu tư, Vũ Phong Energy Group là đơn vị phát triển dự án và cung cấp dịch vụ tổng thầu.
			.col-right(class="col-span-4 max-lg:col-span-full")
				h2(class="text-32 text-Primary-Primary_01 font-bold mb-6") Other News 
				.col-right-list(class="flex flex-col gap-4")
					-for(var i = 0; i < 5; i++)
						.news-item(class="flex items-center gap-5 group")
							.image(class="rem:w-[169px]")
								a(href="#" class="img-ratio ratio:pt-[120_204] rounded-5 zoom-img")
									img(src="./img/1.jpg", alt="") 
							.news-info(class="w-[calc(100%-8.802083333333334rem-1.04167rem)]")
								.top(class="flex items-center gap-2 text-sm pb-3 border-b border-b-Neutral-200")  
									.tag(class="text-Primary-Primary_01 pr-3 border-r border-[#E4E5E6]") Thông tin sức khỏe
									.date(class="text-Neutral-300") 03.06.2024
								.bottom(class="mt-2")  
									h3(class="font-bold text-Neutral-950 mb-2 group-hover:text-Primary-Primary_01 rem:text-[16px]") 
										a(href="#") Cập nhật thông tin trên bao bì gốc của thực phẩm bảo vệ sức khỏe Pregnacare Breast-Feeding