section.home-1(class="relative hidden lg:block")
	.swiper.swiper-home-banner
		.swiper-wrapper 
			.swiper-slide
				.home-1-banner(class="relative") 
					a(href="#" class="img-ratio ratio:pt-[840_1920]")
						img(src="./img/banner-1.png", alt="") 
					.home-1-content
						.home-1-content-box 
							h1(class="title-48  !text-Neutral-White mb-3") BINISUN COFFEE & TEA 
							.desc 
								p không chỉ là một sản phẩm, mà còn là câu chuyện về văn hóa, con người và thiên nhiên Tây Nguyên – vùng đất hùng vĩ với những cao nguyên xanh đầy nắng gió.
							.home-1-btn(class=" mt-10")
								.home-1-btn(class=" mt-10")
									a(href="#" class="button-primary white")
										span TÌM HIỂU THÊM
			.swiper-slide
				.home-1-banner(class="relative") 
					a(href="#" class="img-ratio ratio:pt-[840_1920]")
						img(src="./img/1.jpg", alt="") 
					.home-1-content
						.home-1-content-box 
							h1(class="title-48  !text-Neutral-White mb-3") BINISUN COFFEE & TEA 
							.desc 
								p không chỉ là một sản phẩm, mà còn là câu chuyện về văn hóa, con người và thiên nhiên Tây Nguyên – vùng đất hùng vĩ với những cao nguyên xanh đầy nắng gió.
							.home-1-btn(class=" mt-10")
								a(href="#" class="button-primary white")
									span TÌM HIỂU THÊM
	.home-1-btn(class="flex gap-3 rem:right-[260px] bottom-8  items-center absolute z-10")
		.btn.btn-prev.btn-sw-1.white
		.btn.btn-next.btn-sw-1.white
						