//- button animation icon di chuyển sang phải
mixin button() 
	.button(class="mt-10")
		a(href="#" class="btn-lined")
			span xem them 
			span(class="icon") 
				i.fa-solid.fa-arrow-right
				i.fa-solid.fa-arrow-right
mixin subscribeForm()
	.subscribe
		.subscribefrm
			input.subscribeemail(type="text", placeholder="Nhập email của bạn...")
			button.subscribebutton Gửi
mixin PugImg(url="./img/1.jpg")
	img(data-src=url, alt="", class="lozad " + attributes.class)
mixin btnViewAll(text="Xem thêm")
	a(href="" x-link class='btn-primary-2 btn ' + attributes.class)
		span=text
		img(src=imgButton, alt="", class="w-5 h-5 svg")
mixin HeaderLanguageVertical()
	ul 
		li.wpml-ls-item
			a(href="") 
				span.wpml-ls-native VN
		ul 
			li 
				a(href="") 
					span EN
mixin HeaderLanguageHorizontal()
	ul 
		li.wpml-ls-item
			a(href="") 
				span.wpml-ls-native VN
		li.wpml-ls-item
			a(href="") 
				span.wpml-ls-native VN
mixin BtnPrimary(text="")
	a(href="", class='btn-primary btn ' + attributes.class)
		span=text

mixin ButtonPrimary()
	a(href="#" class="button-primary")
		span TÌM HIỂU THÊM

mixin CertificateSection()
	.container
		.certificate(class="section-py relative")
			.certificate-heading(class="text-center mb-base")
				h2(class="title-48 mb-base") Chứng nhận - chứng chỉ
				.desc(class="text-lg font-normal text-Neutral-950") 
					p BINISUN đã đạt được nhiều chứng nhận quốc tế và trong nước, khẳng định chất lượng và cam kết với cộng đồng:
			.certificate-slide(class="relative")
				.swiper.certificate-swiper 
					.swiper-wrapper
						-for(var i = 0; i < 10; i++) 
							.swiper-slide 
								.item(class="flex items-center justify-center flex-col") 
									.image(class="rem:w-[160px] rem:h-[160px] flex-shrink-0") 
										a(href="#" class="" class="w-full h-full block")
											img(src="./img/certificate-1.png", alt="" class="w-full h-full") 
									.content(class="mt-5") 
										h3(class="text-xl font-normal text-center text-Neutral-700") HACCP
			.home-3-btn-mobile(class="xl:hidden flex items-center justify-center mt-5 gap-3")
				.btn.btn-prev.btn-sw-1
				.btn.btn-next.btn-sw-1
	.home-3-btn(class="absolute left-2/4 -translate-x-2/4 top-2/4 -translate-y-2/4 w-full xl:flex items-center justify-between rem:px-[172px] z-20 mt-20 hidden")
		.btn.btn-prev.btn-sw-1
		.btn.btn-next.btn-sw-1

mixin processSection()
	section.home-6
		.home-6-heading(class="lg:rem:w-[1008px] w-full text-center mx-auto") 
			h2(class="title-48 mb-base") Quy trình sản xuất
		.wrap(data-toggle="tabslet" class="flex justify-center flex-col items-center")
			ul.tabslet-tab.home-6-nav
				li.active
					a(href="#tab1") Quy trình chung
				li
					a(href="#tab2") Phương pháp Natural
				li
					a(href="#tab3") Phương pháp Natural 3 
			.tabslet-content.active#tab1
				.desc(class="text-center text-lg text-Neutral-800 font-secondary lg:rem:w-[1008px] w-full  mx-auto px-4 lg:px-0")
					p Tại BINISUN, chúng tôi áp dụng hai phương pháp chế biến cà phê Natural và Honey, đảm bảo giữ nguyên hương vị tự nhiên và chất lượng của từng hạt cà phê từ Tây Nguyên.
				.home-6-steps
					.steps(class="flex flex-col  w-full")
						.item(class="flex items-center")
							.step(id="step-1" data-img="./img/1.jpg")
								span Bước 1
						
						.content 
							h3 Tiêu đề 4
					.steps(class="flex flex-col  w-full")
						.item(class="flex items-center")
							.step(id="step-2" data-img="./img/product-1.png")
								span Bước 2
							
						.content 
							h3 Tiêu đề 4
					.steps(class="flex flex-col  w-full")
						.item(class="flex items-center")
							.step(id="step-3" data-img="./img/product-2.png")
								span Bước 3
							
						.content 
							h3 Tiêu đề 4	
					.steps(class="flex flex-col  w-full")
						.item(class="flex items-center")
							.step(id="step-4" data-img="./img/1.jpg")
								span Bước 4
							
						.content 
							h3 Tiêu đề 4
					.steps(class="flex flex-col  w-full")
						.item(class="flex items-center")
							.step(id="step-5" data-img="./img/1.jpg")
								span Bước 5
						.content 
							h3 Tiêu đề 4
				.home-6-main(class="flex flex-col-reverse lg:flex-row rem:mt-[50px]")
					.col-left(class="lg:w-6/12 w-full")
						a(href="#" class="img-ratio ratio:pt-[540_960] lozad") 
							img#step-image(src="./img/1.jpg", alt="")
					.col-right(class="lg:w-6/12 w-full bg-Neutral-50")
						.col-right-content(class="lg:pl-25 rem:pt-[67px] lg:pb-17 p-10 h-full flex flex-col") 
							.swiper.swiper-steps 
								.swiper-wrapper 
									.swiper-slide
										h4(class="text-2xl text-Neutral-950 font-normal mb-1") Bước 1
										h3(class="text-5xl text-Primary-Primary_01 font-bold mb-5") Tách vỏ quả
										.desc(class="font-secondary text-lg font-normal text-Neutral-950") 
											p Dùng máy chuyên dụng để tách vỏ nhưng vẫn giữ lại lớp nhầy quý giá.
									.swiper-slide
										h4(class="text-2xl text-Neutral-950 font-normal mb-1") Bước 2
										h3(class="text-5xl text-Primary-Primary_01 font-bold mb-5") Tách vỏ quả
										.desc(class="font-secondary text-lg font-normal text-Neutral-950") 
											p Dùng máy chuyên dụng để tách vỏ nhưng vẫn giữ lại lớp nhầy quý giá.
									.swiper-slide
										h4(class="text-2xl text-Neutral-950 font-normal mb-1") Bước 3
										h3(class="text-5xl text-Primary-Primary_01 font-bold mb-5") Tách vỏ quả
										.desc(class="font-secondary text-lg font-normal text-Neutral-950") 
											p Dùng máy chuyên dụng để tách vỏ nhưng vẫn giữ lại lớp nhầy quý giá.
									.swiper-slide
										h4(class="text-2xl text-Neutral-950 font-normal mb-1") Bước 4
										h3(class="text-5xl text-Primary-Primary_01 font-bold mb-5") Tách vỏ quả
										.desc(class="font-secondary text-lg font-normal text-Neutral-950") 
											p Dùng máy chuyên dụng để tách vỏ nhưng vẫn giữ lại lớp nhầy quý giá.
									.swiper-slide
										h4(class="text-2xl text-Neutral-950 font-normal mb-1") Bước 5
										h3(class="text-5xl text-Primary-Primary_01 font-bold mb-5") Tách vỏ quả
										.desc(class="font-secondary text-lg font-normal text-Neutral-950") 
											p Dùng máy chuyên dụng để tách vỏ nhưng vẫn giữ lại lớp nhầy quý giá.
									.swiper-slide
										h4(class="text-2xl text-Neutral-950 font-normal mb-1") Bước 6
										h3(class="text-5xl text-Primary-Primary_01 font-bold mb-5") Tách vỏ quả
										.desc(class="font-secondary text-lg font-normal text-Neutral-950") 
											p Dùng máy chuyên dụng để tách vỏ nhưng vẫn giữ lại lớp nhầy quý giá.
							.home-6-btn(class="lg:mt-auto mt-5 flex gap-3") 
								.btn.btn-prev.btn-sw-1
								.btn.btn-next.btn-sw-1
			.tabslet-content#tab2
				.desc(class="text-center text-lg text-Neutral-800 font-secondary lg:rem:w-[1008px] w-full  mx-auto px-4 lg:px-0")
					p tab2
				.home-6-steps
					.steps(class="flex flex-col w-full")
						.item(class="flex items-center")
							.step(id="step-1" data-img="./img/product-1.png")
								span Bước 1
						.content 
							h3 Tiêu đề 4
					.steps(class="flex flex-col  w-full")
						.item(class="flex items-center")
							.step(id="step-2" data-img="./img/1.jpg")
								span Bước 2
						
						.content 
							h3 Tiêu đề 4
					.steps(class="flex flex-col  w-full")
						.item(class="flex items-center")
							.step(id="step-3" data-img="./img/product-1.png")
								span Bước 3
							
						.content 
							h3 Tiêu đề 4
					.steps(class="flex flex-col  w-full")
						.item(class="flex items-center")
							.step(id="step-4" data-img="./img/product-1.png")
								span Bước 4
							
						.content 
							h3 Tiêu đề 4	
					.steps(class="flex flex-col  w-full")
						.item(class="flex items-center")
							.step(id="step-5" data-img="https://picsum.photos/1040/585")
								span Bước 5
							
						.content 
							h3 Tiêu đề 4
					.steps(class="flex flex-col  w-full")
						.item(class="flex items-center")
							.step(id="step-6" data-img="https://picsum.photos/1040/585")
								span Bước 6
						.content 
							h3 Tiêu đề 4
				.home-6-main(class="flex flex-col-reverse lg:flex-row rem:mt-[50px]")
					.col-left(class="lg:w-6/12 w-full")
						a(href="#" class="img-ratio ratio:pt-[540_960] lozad") 
							img#step-image2(src="./img/1.jpg", alt="")
					.col-right(class="lg:w-6/12 w-full bg-Neutral-50")
						.col-right-content(class="lg:pl-25 rem:pt-[67px] lg:pb-17 p-10 h-full flex flex-col") 
							.swiper.swiper-steps 
								.swiper-wrapper 
									.swiper-slide
										h4(class="text-2xl text-Neutral-950 font-normal mb-1") Bước 1
										h3(class="text-5xl text-Primary-Primary_01 font-bold mb-5") Tách vỏ quả
										.desc(class="font-secondary text-lg font-normal text-Neutral-950") 
											p Dùng máy chuyên dụng để tách vỏ nhưng vẫn giữ lại lớp nhầy quý giá.
									.swiper-slide
										h4(class="text-2xl text-Neutral-950 font-normal mb-1") Bước 2
										h3(class="text-5xl text-Primary-Primary_01 font-bold mb-5") Tách vỏ quả
										.desc(class="font-secondary text-lg font-normal text-Neutral-950") 
											p Dùng máy chuyên dụng để tách vỏ nhưng vẫn giữ lại lớp nhầy quý giá.
									.swiper-slide
										h4(class="text-2xl text-Neutral-950 font-normal mb-1") Bước 3
										h3(class="text-5xl text-Primary-Primary_01 font-bold mb-5") Tách vỏ quả
										.desc(class="font-secondary text-lg font-normal text-Neutral-950") 
											p Dùng máy chuyên dụng để tách vỏ nhưng vẫn giữ lại lớp nhầy quý giá.
									.swiper-slide
										h4(class="text-2xl text-Neutral-950 font-normal mb-1") Bước 4
										h3(class="text-5xl text-Primary-Primary_01 font-bold mb-5") Tách vỏ quả
										.desc(class="font-secondary text-lg font-normal text-Neutral-950") 
											p Dùng máy chuyên dụng để tách vỏ nhưng vẫn giữ lại lớp nhầy quý giá.
									.swiper-slide
										h4(class="text-2xl text-Neutral-950 font-normal mb-1") Bước 5
										h3(class="text-5xl text-Primary-Primary_01 font-bold mb-5") Tách vỏ quả
										.desc(class="font-secondary text-lg font-normal text-Neutral-950") 
											p Dùng máy chuyên dụng để tách vỏ nhưng vẫn giữ lại lớp nhầy quý giá.
									.swiper-slide
										h4(class="text-2xl text-Neutral-950 font-normal mb-1") Bước 6
										h3(class="text-5xl text-Primary-Primary_01 font-bold mb-5") Tách vỏ quả
										.desc(class="font-secondary text-lg font-normal text-Neutral-950") 
											p Dùng máy chuyên dụng để tách vỏ nhưng vẫn giữ lại lớp nhầy quý giá.
							.home-6-btn(class="lg:mt-auto mt-5 flex gap-3") 
								.btn.btn-prev.btn-sw-1
								.btn.btn-next.btn-sw-1
			.tabslet-content#tab3
				.desc(class="text-center text-lg text-Neutral-800 font-secondary lg:rem:w-[1008px] w-full  mx-auto px-4 lg:px-0")
					p tab3
				.home-6-steps
					.steps(class="flex flex-col w-full")
						.item(class="flex items-center")
							.step(id="step-1")
								span Bước 1
						.content 
							h3 Tiêu đề 4
					.steps(class="flex flex-col  w-full")
						.item(class="flex items-center")
							.step(id="step-1")
								span Bước 1
						
						.content 
							h3 Tiêu đề 4
					.steps(class="flex flex-col  w-full")
						.item(class="flex items-center")
							.step(id="step-1")
								span Bước 1
							
						.content 
							h3 Tiêu đề 4
					.steps(class="flex flex-col  w-full")
						.item(class="flex items-center")
							.step(id="step-1")
								span Bước 1
							
						.content 
							h3 Tiêu đề 4	
					.steps(class="flex flex-col  w-full")
						.item(class="flex items-center")
							.step(id="step-1")
								span Bước 1
							
						.content 
							h3 Tiêu đề 4
					.steps(class="flex flex-col  w-full")
						.item(class="flex items-center")
							.step(id="step-1")
								span Bước 1
						.content 
							h3 Tiêu đề 4
				.home-6-main(class="flex flex-col-reverse lg:flex-row rem:mt-[50px]")
					.col-left(class="lg:w-6/12 w-full")
						video(src="./img/video.mp4" autoplay, muted, controls, loop class="w-full") 
					.col-right(class="lg:w-6/12 w-full bg-Neutral-50")
						.col-right-content(class="lg:pl-25 rem:pt-[67px] lg:pb-17 p-10 h-full flex flex-col") 
							.swiper.swiper-steps 
								.swiper-wrapper 
									.swiper-slide
										h4(class="text-2xl text-Neutral-950 font-normal mb-1") Bước 1
										h3(class="text-5xl text-Primary-Primary_01 font-bold mb-5") Tách vỏ quả
										.desc(class="font-secondary text-lg font-normal text-Neutral-950") 
											p Dùng máy chuyên dụng để tách vỏ nhưng vẫn giữ lại lớp nhầy quý giá.
									.swiper-slide
										h4(class="text-2xl text-Neutral-950 font-normal mb-1") Bước 2
										h3(class="text-5xl text-Primary-Primary_01 font-bold mb-5") Tách vỏ quả
										.desc(class="font-secondary text-lg font-normal text-Neutral-950") 
											p Dùng máy chuyên dụng để tách vỏ nhưng vẫn giữ lại lớp nhầy quý giá.
									.swiper-slide
										h4(class="text-2xl text-Neutral-950 font-normal mb-1") Bước 3
										h3(class="text-5xl text-Primary-Primary_01 font-bold mb-5") Tách vỏ quả
										.desc(class="font-secondary text-lg font-normal text-Neutral-950") 
											p Dùng máy chuyên dụng để tách vỏ nhưng vẫn giữ lại lớp nhầy quý giá.
									.swiper-slide
										h4(class="text-2xl text-Neutral-950 font-normal mb-1") Bước 4
										h3(class="text-5xl text-Primary-Primary_01 font-bold mb-5") Tách vỏ quả
										.desc(class="font-secondary text-lg font-normal text-Neutral-950") 
											p Dùng máy chuyên dụng để tách vỏ nhưng vẫn giữ lại lớp nhầy quý giá.
									.swiper-slide
										h4(class="text-2xl text-Neutral-950 font-normal mb-1") Bước 5
										h3(class="text-5xl text-Primary-Primary_01 font-bold mb-5") Tách vỏ quả
										.desc(class="font-secondary text-lg font-normal text-Neutral-950") 
											p Dùng máy chuyên dụng để tách vỏ nhưng vẫn giữ lại lớp nhầy quý giá.
									.swiper-slide
										h4(class="text-2xl text-Neutral-950 font-normal mb-1") Bước 6
										h3(class="text-5xl text-Primary-Primary_01 font-bold mb-5") Tách vỏ quả
										.desc(class="font-secondary text-lg font-normal text-Neutral-950") 
											p Dùng máy chuyên dụng để tách vỏ nhưng vẫn giữ lại lớp nhầy quý giá.
							.home-6-btn(class="lg:mt-auto mt-5 flex gap-3") 
								.btn.btn-prev.btn-sw-1
								.btn.btn-next.btn-sw-1
				
		