footer.footer(class="relative")
	.footer-fixed(class="fixed bottom-15 right-5 z-50")
		ul 
			li 
				a.button-to-top(href="#") 
					i.fa-regular.fa-arrow-up-to-line
			li 
				a(href="#") 
					i.fa-light.fa-pen-to-square
			li 
				a(href="#") 
					i.fa-regular.fa-phone
	.footer-main(class="flex flex-col lg:flex-row")
		.col-left(class="lg:w-6/12 w-full") 
			.image(class="h-full") 	
				a(href="#" class="img-ratio ratio:pt-[848_960] h-full")
					img(src="./img/1.jpg", alt="")
		.col-right(class="lg:w-6/12 w-full bg-Primary-Primary_01")  
			.footer-heading(class="xl:rem:pr-[260px] xl:pl-25 xl:py-15 p-10 bg-Neutral-50")
				.footer-logo(class="rem:w-[230px] h-18 mb-6") 
					a(href="#" class="w-full h-full block")
						img(src="./img/logo.svg", alt="" class="w-full h-full object-cover")
				.footer-content 
					h3(class="text-32 font-bold text-Primary-Primary_02 mb-6") BINISUN COFFEE & TEA
					form(action="")
						.footer-form-field 
							input(type="text" placeholder="Email") 
							.footer-icon-send 
								i.fa-light.fa-paper-plane
						p(class="text-sm font-normal font-secondary text-Neutral-900") Nhập Email của bạn để nhận thông tin mới nhất của chúng tôi !
				.footer-list(class="flex flex-col lg:flex-row lg:rem:gap-[88px] gap-5 mt-6")
					.footer-column-quick-link(class="rem:w-[271px]")
						h3 Liên kết nhanh
						.footer-menu-main(class="flex justify-between")
							.footer-menu 
								ul.footer-nav 
									li 
										a(href="#") Giới thiệu
									li 
										a(href="#") Sản phẩm
									li 
										a(href="#") Thực đơn
							.footer-menu 
								ul.footer-nav 
									li 
										a(href="#") Văn hoá cà phê
									li 
										a(href="#") Tuyển dụng
									li 
										a(href="#") Liên hệ
					.footer-column-social(class="100%-14.114583333333334rem-4.583333333333334rem")
						h3 Kết nối
						.social 
							a(href="#")
								i.fa-brands.fa-facebook-f
							a(href="#")
								i.fa-brands.fa-linkedin-in
							a(href="#")
								i.fa-brands.fa-youtube
							a(href="#")
								i.fa-regular.fa-envelope
							a(href="#")
								i.fa-brands.fa-tiktok
			.footer-bottom(class="xl:pl-25 p-10 xl:rem:w-[700px] w-full pt-8 xl:rem:pb-[49px]")
				h3(class="text-2xl font-bold text-Neutral-White") Thông tin liên hệ
				.footer-bottom-icon(class="flex items-center gap-[2px] my-5")
					.footer-bottom-icon-item(class="w-6 h-6")
						a(href="#" class="w-full h-full block")
							img(src="./img/icon-1.svg", alt="" class="w-full h-full object-cover") 
					.footer-bottom-icon-item(class="w-6 h-6")
						a(href="#" class="w-full h-full block")
							img(src="./img/icon-1.svg", alt="" class="w-full h-full object-cover") 
					.footer-bottom-icon-item(class="w-6 h-6")
						a(href="#" class="w-full h-full block")
							img(src="./img/icon-1.svg", alt="" class="w-full h-full object-cover") 
					.footer-bottom-icon-item(class="w-6 h-6")
						a(href="#" class="w-full h-full block")
							img(src="./img/icon-1.svg", alt="" class="w-full h-full object-cover") 
					.footer-bottom-icon-item(class="w-6 h-6")
						a(href="#" class="w-full h-full block")
							img(src="./img/icon-1.svg", alt="" class="w-full h-full object-cover") 
					.footer-bottom-icon-item(class="w-6 h-6")
						a(href="#" class="w-full h-full block")
							img(src="./img/icon-1.svg", alt="" class="w-full h-full object-cover") 
					.footer-bottom-icon-item(class="w-6 h-6")
						a(href="#" class="w-full h-full block")
							img(src="./img/icon-1.svg", alt="" class="w-full h-full object-cover") 
					.footer-bottom-icon-item(class="w-6 h-6")
						a(href="#" class="w-full h-full block")
							img(src="./img/icon-1.svg", alt="" class="w-full h-full object-cover") 
					.footer-bottom-icon-item(class="w-6 h-6")
						a(href="#" class="w-full h-full block")
							img(src="./img/icon-1.svg", alt="" class="w-full h-full object-cover") 
					.footer-bottom-icon-item(class="w-6 h-6")
						a(href="#" class="w-full h-full block")
							img(src="./img/icon-1.svg", alt="" class="w-full h-full object-cover") 
					.footer-bottom-icon-item(class="w-6 h-6")
						a(href="#" class="w-full h-full block")
							img(src="./img/icon-1.svg", alt="" class="w-full h-full object-cover") 
					.footer-bottom-icon-item(class="w-6 h-6")
						a(href="#" class="w-full h-full block")
							img(src="./img/icon-1.svg", alt="" class="w-full h-full object-cover") 
					.footer-bottom-icon-item(class="w-6 h-6")
						a(href="#" class="w-full h-full block")
							img(src="./img/icon-1.svg", alt="" class="w-full h-full object-cover") 
					.footer-bottom-icon-item(class="w-6 h-6")
						a(href="#" class="w-full h-full block")
							img(src="./img/icon-1.svg", alt="" class="w-full h-full object-cover") 
					.footer-bottom-icon-item(class="w-6 h-6")
						a(href="#" class="w-full h-full block")
							img(src="./img/icon-1.svg", alt="" class="w-full h-full object-cover") 
				.footer-bottom-contact(class="text-Neutral-White") 
					p 
						strong  Địa chỉ: 
						span 316 Lê Văn Sỹ, Phường 1, Quận Tân Bình, Thành phố Hồ Chí Minh, Việt Nam
					p 
						strong  Email: 
						span binisuncoffeetea@gmail.com
					p 
						strong  Hotline: 
						span 0941012442
				.footer-bottom-copyright 
					h3(class="text-sm font-normal text-Neutral-White opacity-60 font-secondary") © 2024 BINISUN COFFEE & TEA. All Rights Reserved. Thiết kế web bởi Cánh Cam.
