section.home-9(class="py-15 relative")
	.container
		.home-9-slide 
			.swiper.home-9-swiper 
				.swiper-wrapper
					.swiper-slide
						.item(class="img-ratio ratio:pt-[86_180]") 
							img(src="./img/brand-1.png", alt="") 
					.swiper-slide
						.item(class="img-ratio ratio:pt-[86_180]") 
							img(src="./img/brand-1.png", alt="") 
					.swiper-slide
						.item(class="img-ratio ratio:pt-[86_180]") 
							img(src="./img/brand-1.png", alt="") 
					.swiper-slide
						.item(class="img-ratio ratio:pt-[86_180]") 
							img(src="./img/brand-1.png", alt="") 
					.swiper-slide
						.item(class="img-ratio ratio:pt-[86_180]") 
							img(src="./img/brand-1.png", alt="") 
					.swiper-slide
						.item(class="img-ratio ratio:pt-[86_180]") 
							img(src="./img/brand-1.png", alt="") 
					.swiper-slide
						.item(class="img-ratio ratio:pt-[86_180]") 
							img(src="./img/brand-1.png", alt="") 
					.swiper-slide
						.item(class="img-ratio ratio:pt-[86_180]") 
							img(src="./img/brand-1.png", alt="") 
					.swiper-slide
						.item(class="img-ratio ratio:pt-[86_180]") 
							img(src="./img/brand-1.png", alt="") 
	.home-9-btn(class="absolute left-2/4 -translate-x-2/4 top-2/4 -translate-y-2/4 w-full flex items-center justify-between rem:px-[178px] z-20")
		.btn.btn-prev.btn-sw-1
		.btn.btn-next.btn-sw-1