section.home-4
	.home-4-bg(class="relative z-10") 
		a(href="#" class="img-ratio ratio:pt-[720_1920]")
			img(src="./img/1.jpg", alt="")
	.container 
		.home-4-content(class="bg-Primary-Primary_01 rem:py-[74px] pl-20 rem:pr-[123px] mt-[-12rem] relative z-30") 
			.home-4-main(class="flex rem:gap-[67px]") 
				.col-left(class="rem:w-[650px] text-Neutral-White")
					h2(class="text-5xl font-bold uppercase mb-3") THƯỞNG THỨC HƯƠNG VỊ CÀ PHÊ TỪ TRUYỀN THỐNG ĐẾN SÁNG TẠO
					.desc(class="text-lg font-normal text-ellipsis") 
						p Menu hội tụ đầy đủ từ vị đậm đà truyền thống cho team "đam mê caffein thứ thiệt" đến những ly nước thanh mát dịu nhẹ lấy cảm hứng từ cà phê mix chỉ có tại BINISUN COFFEE & TEA.
					.home-btn(class="mt-base") 
						a(href="#" class="button-primary white")
							span XEM THỰC ĐƠN
				.col-right(class="w-[calc(100%-33.85416666666667rem-3.4895833333333335rem)]")
					.image 
						a(href="#" class="img-ratio ratio:pt-[284_463]")
							img(src="./img/menu.png", alt="" class="object-cover") 
