section.about-3(class="rem:pt-[73px]  relative bg-Neutral-50")
	.container
		.about-3-main(class="flex flex-col lg:flex-row lg:rem:gap-[178px]  gap-base")
			.col-left(class="lg:rem:w-[680px] w-full rem:pb-[66px]")
				h2(class="title-48 font-bold text-Primary-Primary_02 !text-left mb-base") Giá trị cốt lõi
				.content(class="lg:rem:w-[560px] w-full")
					.about-3-items
						.item 
							.icon(class="w-12 h-12") 
								img(src="./img/giatri-1.png", alt="" class="w-full h-full")
							.content 
								h4(class="text-24 font-bold text-Neutral-900 mb-2") Chất lượng vượt trội
						.desc 
							p Tuyển chọn nguyên liệu tinh túy, chế biến theo quy trình khép kín, đảm bảo chất lượng cao nhất.
					.about-3-items
						.item 
							.icon(class="w-12 h-12") 
								img(src="./img/giatri-1.png", alt="" class="w-full h-full")
							.content 
								h4(class="text-24 font-bold text-Neutral-900 mb-2") Chất lượng vượt trội
						.desc 
							p Tuyển chọn nguyên liệu tinh túy, chế biến theo quy trình khép kín, đảm bảo chất lượng cao nhất.
					.about-3-items
						.item 
							.icon(class="w-12 h-12") 
								img(src="./img/giatri-1.png", alt="" class="w-full h-full")
							.content 
								h4(class="text-24 font-bold text-Neutral-900 mb-2") Chất lượng vượt trội
						.desc 
							p Tuyển chọn nguyên liệu tinh túy, chế biến theo quy trình khép kín, đảm bảo chất lượng cao nhất.
					.about-3-items
						.item 
							.icon(class="w-12 h-12") 
								img(src="./img/giatri-1.png", alt="" class="w-full h-full")
							.content 
								h4(class="text-24 font-bold text-Neutral-900 mb-2") Chất lượng vượt trội
						.desc 
							p Tuyển chọn nguyên liệu tinh túy, chế biến theo quy trình khép kín, đảm bảo chất lượng cao nhất.
			.col-right(class="lg:w-[calc(100%-35.41666666666667rem-9.270833333333334rem)] w-full")
				.image(class="h-full") 
					a(href="#" class="img-ratio ratio:pt-[781_543] h-full")
						img(src="./img/giatri.png", alt="")
section.about-3-bottom(class="bg-linear-6 py-15 lg:mb-20 mb-base")
	.about-3-bottom-content(class="lg:rem:w-[1124px] w-full mx-auto text-center") 
		.desc(class="text-32 font-medium font-secondary text-Neutral-White") 
			p BINISUN không chỉ là cà phê – đó là câu chuyện về vùng đất Tây Nguyên, về sự kết nối giữa con người, thiên nhiên và những giá trị vững bền. Hãy cùng chúng tôi thưởng thức, cảm nhận và lan tỏa niềm đam mê cà phê Việt!